plugin: aws_ec2

regions:
  - eu-west-1

filters:
  instance-state-name: running
  "tag:Project": terraform-ansible-webapp
  "tag:Environment": ["dev"]

keyed_groups:
  - key: tags.Role
    prefix: role
    separator: "_"
  - key: tags.Environment
    prefix: env
    separator: "_"
  - key: instance_type
    prefix: type
    separator: "_"

compose:
  instance_name: tags.Name
  instance_role: tags.Role
  environment: tags.Environment
  project: tags.Project
  managed_by: tags.ManagedBy
  private_ip: private_ip_address
  public_ip: public_ip_address

# Per-host variables
hostvars:
  # Backend and frontend connect via jump server
  "{{ 'role_backend' in group_names or 'role_frontend' in group_names }}":
    ansible_host: "{{ private_ip }}"
    ansible_user: ec2-user
    ansible_ssh_private_key_file: /path/to/terraform-ansible-webapp-key.pem
    ansible_ssh_common_args: "-o ProxyJump=ec2-user@{{ hostvars[groups['role_load_balancer'][0]].ansible_host }}"
  
  # Load balancer connects directly via public IP
  "{{ 'role_load_balancer' in group_names }}":
    ansible_host: "{{ public_ip }}"
    ansible_user: ec2-user
    ansible_ssh_private_key_file: /path/to/terraform-ansible-webapp-key.pem

hostnames:
  - tag:Name
  - private-ip-address
  - public-ip-address

strict: False
